//--FONTS
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik+Mono+One&display=swap");

$font-headings: "Rubik Mono One", sans-serif;
$font-paragraphs: "Roboto Mono", monospace;

//--COLOURS
$main-heading: #0f0e17;
$main-background: #fffffe;
$main-paragraph: #242427;
